<header>
    <div class="header-container">
        <a href="#" class="logo">
            DarkBlog
        </a>
        <div class="user-actions">
            <a href="#" class="admin-panel">
                Админ-панель
            </a>

            <a href="#">
                Профиль
            </a>

            <a href="#">
                Выйти
            </a>
        </div>
    </div>
</header>
