<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title> DarkBlog | {% block title %}{% endblock %} </title>
    {#    <link rel="icon" >#}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        {% include "includes/header.html.twig" %}

        {% block body %}
        {% endblock %}

        {% include "includes/footer.html.twig" %}
    </body>
</html>
